@tailwind base;
@tailwind components;
@tailwind utilities;


#root{
    background-color: rgb(240, 220, 220);
    font-family: 'Satoshi', sans-serif;
}
html{
    background-color: rgb(240, 220, 220);
    font-family: 'Satoshi', sans-serif;
    font-size: 16px;
}
body {
    font-family: 'Satoshi', sans-serif;
    font-size: 16px;
}
