@tailwind base;
@tailwind components;
@tailwind utilities;


#root{
    background-color: rgb(240, 220, 220);
    font-family: Arial, sans-serif;
}
html{
    background-color: rgb(240, 220, 220);
    font-family: Arial, sans-serif;
}