@tailwind base;
@tailwind components;
@tailwind utilities;


#root{
    font-family: 'Satoshi', sans-serif;
}
html{
    background-color: rgba(49, 48, 48, 0.164);

    font-family: 'Satoshi', sans-serif;
     font-size: 16px;
}
body {
    font-family: 'Satoshi', sans-serif;
    font-size: 16px;
    background-color: rgba(49, 48, 48, 0.164);

}
